h1 {
  color: #742b00;
  text-align: center;
  padding: 20px;
}

h3 {
  color: #742b00;
}

h2 {
  color: #742b00;
}

button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: antiquewhite;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

div.container {
  margin-top: 5cm;
  background-color: rgb(245, 231, 209);
  width: 30%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
select#sizes { 
  background-color: rgb(246, 239, 228);
}